<div class="top-wrapper">
    {#<div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="top-contact">
                        <li><i class="fa fa-map-marker"></i>1234 Street Name, City Name, Location</li>
                        <li><a href="mailto:#"><i class="fa fa-envelope"></i>{{email}}</a></i>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="top-social">
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>#}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12"> <a class="responsive-menu" href="#menu"><i class="fa fa-navicon"></i></a>
                    <a class="logo-light" href="index"><img src="img/logo_light.png" alt="" /></a>
                    <ul class="second-nav">
                        <li><a id="trigger-overlay" href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                    <nav class="menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/portfolio">Portfolio</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/singleBlog">Single Blog</a></li>
                            <li class="last"><a href="#" data-toggle="modal" data-target="#myModal">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
