{% extends "layout.njk" %}
{% block content %}
<div class="content animated fadeInUp">
{% include "snippets/aboutHead.njk" %}
{% include "snippets/skillsBlock.njk" %}
{% include "snippets/counter.njk" %}
{% include "snippets/features.njk" %}
{% include "snippets/whyUs.njk" %}
{% include "snippets/meetUs.njk" %}
{% include "snippets/teamBlock.njk" %}
{% include "snippets/promoBox.njk" %}
</div>
{% endblock %}
