{%- extends "layout.njk" -%}
{%- block content -%}
<div class="content animated fadeInUp">
{%- include "snippets/heroSlider.njk" -%}
{%- include "snippets/whoWeAre.njk" -%}
{%- include "snippets/latestProjects.njk" -%}
{%- include "snippets/infoCallout.njk" -%}
{%- include "snippets/testimonials.njk" -%}
{%- include "snippets/clients.njk" -%}
{%- include "snippets/intro.njk" -%}
{%- include "snippets/service.njk" -%}
</div>
{%- endblock -%}
