{% extends "layout.njk" %}
{% block content %}
<div class="content animated fadeInUp">
{% include "snippets/aboutHead.njk" %}
{% include "snippets/portfolio.njk" %}
{% include "snippets/portfoliox3.njk" %}
{% include "snippets/portfoliox4.njk" %}
</div>
{% endblock %}
