{%- extends "layout.njk" -%}
{%- block content -%}
<div class="content animated fadeInUp">
{%- include "snippets/aboutHead.njk" -%}
{%- include "snippets/process.njk" -%}
{%- include "snippets/workingProcess.njk" -%}
{%- include "snippets/pricingPlan.njk" -%}
</div>
{%- endblock -%}
