<div class="block-clients grey">
  <div class="container">
  <ul class="clients">
    <li><img src="img/clients/logo1.png" alt="" /></li>
	<li><img src="img/clients/logo1.png" alt="" /></li>
	<li><img src="img/clients/logo1.png" alt="" /></li>
	<li><img src="img/clients/logo1.png" alt="" /></li>
	<li><img src="img/clients/logo1.png" alt="" /></li>
	<li><img src="img/clients/logo1.png" alt="" /></li>
  </ul>
  </div>
</div>
