<div id="hero-slider" class="owl-carousel">
    <div class="item"><img src="img/slide01.jpg" alt="">
        <div class="container">
            <div class="h-caption">
                <h1 class="h-title">CRONUS<br>Web development<br>and design</h1>
                <p class="h-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus
                    <br>tempor tortor ut posuere.</p><a class="btn btn-primary" href="#">learn more</a> <a class="btn btn-transparent" href="#">buy now</a></div>
        </div>
    </div>
    <div class="item"><img src="img/slide01.jpg" alt="">
        <div class="container">
            <div class="h-caption">
                <h1 class="h-title">Duis autem<br>vel eum iriure</h1>
                <p class="h-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus
                    <br>tempor tortor ut posuere.</p><a class="btn btn-primary" href="#">learn more</a> <a class="btn btn-transparent" href="#">buy now</a></div>
        </div>
    </div>
</div>
