<div class="block grey" style="padding-bottom: 0;">
  <div class="container">
	<div class="row">
	  <div class="col-lg-6 col-md-6 col-sm-6">
		<img class="mockup" src="img/responsive.png" alt="" />
	  </div>
	  <div class="col-lg-6 col-md-6 col-sm-6">
		<h2>Clean &amp; responsive design</h2>
		<div class="line"></div>
		<p>
		  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
		</p>
		<p>
		  vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum typi non.
		</p>
	  </div>
	</div>
  </div>
</div>
