<div id="intro">
    <div class="counter-wrapper" style="background-color: transparent;">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-sm-6 counter-box"> <i class="icon-cup" style="display: block; font-size: 38px; color: #2dcc70; margin-bottom: 25px;"></i>
                    <div class="counter" style="display: inline-block; color: #fff;">5000</div>
                    <div class="title_counter">
                        <h4>Coffes Drinked</h4></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 counter-box"> <i class="icon-pencil" style="display: block; font-size: 38px; color: #2dcc70; margin-bottom: 25px;"></i>
                    <div class="counter" style="display: inline-block; color: #fff;">2500</div>
                    <div class="title_counter">
                        <h4>Code Lines</h4></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 counter-box"> <i class="icon-note" style="display: block; font-size: 38px; color: #2dcc70; margin-bottom: 25px;"></i>
                    <div class="counter" style="display: inline-block; color: #fff;">400</div>
                    <div class="title_counter">
                        <h4>Pages Created</h4></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 counter-box"> <i class="icon-star" style="display: block; font-size: 38px; color: #2dcc70; margin-bottom: 25px;"></i>
                    <div class="counter" style="display: inline-block; color: #fff;">3500</div>
                    <div class="title_counter">
                        <h4>Completed Projects</h4></div>
                </div>
            </div>
        </div>
    </div>
</div>
