<div class="block grey" style="padding-bottom: 0;">
  <div class="container text-center">
  <h2>Our latest projects</h2>
  <div class="line center"></div>
  <div style="height: 20px; clear: both"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 item grid cs-style-3" style="padding: 0;"><figure><img src="img/portfolio/1.jpg" alt="img01"><figcaption><h3><a href="single_project.html">Project Title</a></h3><span>John Doe</span></figcaption></figure></div>
    <div class="col-lg-3 col-md-3 col-sm-3 item grid cs-style-3" style="padding: 0;"><figure><img src="img/portfolio/1.jpg" alt="img02"><figcaption><h3><a href="single_project.html">Project Title</a></h3><span>John Doe</span></figcaption></figure></div>
    <div class="col-lg-3 col-md-3 col-sm-3 item grid cs-style-3" style="padding: 0;"><figure><img src="img/portfolio/1.jpg" alt="img03"><figcaption><h3><a href="single_project.html">Project Title</a></h3><span>John Doe</span></figcaption></figure></div>
    <div class="col-lg-3 col-md-3 col-sm-3 item grid cs-style-3" style="padding: 0;"><figure><img src="img/portfolio/1.jpg" alt="img05"><figcaption><h3><a href="single_project.html">Project Title</a></h3><span>John Doe</span></figcaption></figure></div>
    </div>
  </div>
  <div class="promo-box">
    <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9">
      <h2>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcor</h2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      <a class="btn btn-transparent" href="portfolio.html">more projects</a>
      </div>
    </div>
    </div>
  </div>
</div>
