<div class="block">
    <div class="container">
        <h2 class="title text-center">Meet Our Team</h2>
        <div class="line center"></div>
        <p class="subtitle text-center">Duis autem vel eum iriure.</p>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="member-img"> <img src="img/team/m01.jpg"> </div>
                <div class="member-desc text-center">
                    <h5>John Doe</h5> <span class="job-title">Creative Director</span>
                    <div class="line center"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum.</p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="member-img"> <img src="img/team/m01.jpg"> </div>
                <div class="member-desc text-center">
                    <h5>Jennifer Doe</h5> <span class="job-title">Web designer</span>
                    <div class="line center"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum.</p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="member-img"> <img src="img/team/m01.jpg"> </div>
                <div class="member-desc text-center">
                    <h5>Mike Doe</h5> <span class="job-title">Programmer</span>
                    <div class="line center"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum.</p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="member-img"> <img src="img/team/m01.jpg"> </div>
                <div class="member-desc text-center">
                    <h5>Sarah Doe</h5> <span class="job-title">Customer Support</span>
                    <div class="line center"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum.</p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
