<div class="overlay overlay-scale">
	<button type="button" class="overlay-close">Close</button>
<div class="container">
  <form id="header-search-form" class="center-block" method="get" action="#">
	<input id="header-search" type="text" onblur="if (this.value == '')this.value = 'Start Typing...';" onfocus="if (this.value == 'Start Typing...')this.value = '';" autocomplete="off" style="height:150px;" value="Start Typing..." name="s">
  </form>
</div>	
</div>