<div class="post">
    <div id="post-slider" class="owl-carousel">
        <div class="item"><img src="img/blog/b01.jpg" alt=""></div>
        <div class="item"><img src="img/blog/b01.jpg" alt=""></div>
        <div class="item"><img src="img/blog/b01.jpg" alt=""></div>
    </div>
    <div class="post-text">
        <div class="post-title">
            <h2><span class="date">19 Oct</span> <a href="blog_single_post.html">{{D1}}</a></h2></div>
        <div class="post_info"><span class="time">Posted at 19:00h</span> in <a href="#">Photography</a> <span class="post_author">by <a class="post_author_link" href="#"><i class="icon-user" style="font-size: 14px; float: left; color: #989797; margin-right: 2px"></i>admin</a></span> <span class="dots"><i class="fa fa-square"></i></span> <a class="post_comments" href="#"><i class="icon-comment" style="font-size: 14px; float: left; color: #989797; margin-right: 2px"></i>2 Comments</a> <span class="dots"><i class="fa fa-square"></i></span>
            <div class="blog_like"><a href="#"><i class="icon-heart" style="font-size: 14px; float: left; color: #989797; margin-right: 2px"></i> 101 <span>Likes</span></a></div><span class="dots"><i class="fa fa-square"></i></span>
            <div class="blog_share"><a href=""><i class="icon-paper-plane" style="font-size: 14px; float: left; color: #989797; margin-right: 2px"></i>Share</a></div>
        </div>
        <div class="post_details">
            <p>{{D3}}</p>
        </div>
        <div class="post_more"><a class="btn btn-default" href="blog_single_post.html">read more</a></div>
    </div>
</div>
