<div class="block blue">
    <div class="container">
        <h2 class="title text-center">pricing plan</h2>
        <div class="line center"></div>
        <p class="subtitle text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus
            <br> tempor tortor ut posuere.</p>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-block text-center">
                    <div class="pricing-top">
                        <ul>
                            <li class="pricing-title">standard plan</li>
                            <li class="price">29$</li>
                            <li class="price-month">per month</li>
                        </ul>
                    </div>
                    <div class="pricing-desc">
                        <ul>
                            <li><span>Exercitation</span> ullam corporis</li>
                            <li><span>Molestias</span> excepturi sint</li>
                            <li><span>Ratione</span> voluptatem sequi</li>
                            <li><span>Deserunt</span> mollitia animi</li>
                            <li><span>Neque</span> porro quisquam</li>
                            <li><span>Totam</span> rem aperiam</li>
                        </ul>
                        <div style="height: 20px; clear: both;"></div> <a class="btn-price" href="#"> choose plan </a> </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-block text-center">
                    <div class="pricing-top">
                        <ul>
                            <li class="pricing-title">business plan</li>
                            <li class="price">49$</li>
                            <li class="price-month">per month</li>
                        </ul>
                    </div>
                    <div class="pricing-desc">
                        <ul>
                            <li><span>Exercitation</span> ullam corporis</li>
                            <li><span>Molestias</span> excepturi sint</li>
                            <li><span>Ratione</span> voluptatem sequi</li>
                            <li><span>Deserunt</span> mollitia animi</li>
                            <li><span>Neque</span> porro quisquam</li>
                            <li><span>Totam</span> rem aperiam</li>
                        </ul>
                        <div style="height: 20px; clear: both;"></div> <a class="btn-price" href="#"> choose plan </a> </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-block text-center">
                    <div class="pricing-top colored">
                        <ul>
                            <li class="pricing-title">premium plan</li>
                            <li class="price">69$</li>
                            <li class="price-month">per month</li>
                        </ul>
                    </div>
                    <div class="pricing-desc">
                        <ul>
                            <li><span>Exercitation</span> ullam corporis</li>
                            <li><span>Molestias</span> excepturi sint</li>
                            <li><span>Ratione</span> voluptatem sequi</li>
                            <li><span>Deserunt</span> mollitia animi</li>
                            <li><span>Neque</span> porro quisquam</li>
                            <li><span>Totam</span> rem aperiam</li>
                        </ul>
                        <div style="height: 20px; clear: both;"></div> <a class="btn-price-colored" href="#"> choose plan </a> </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-block text-center">
                    <div class="pricing-top">
                        <ul>
                            <li class="pricing-title">unlimited plan</li>
                            <li class="price">99$</li>
                            <li class="price-month">per month</li>
                        </ul>
                    </div>
                    <div class="pricing-desc">
                        <ul>
                            <li><span>Duisautem</span>vel eum iriure</li>
                            <li><span>Molestias</span> excepturi sint</li>
                            <li><span>Ratione</span> voluptatem sequi</li>
                            <li><span>Deserunt</span> mollitia animi</li>
                            <li><span>Neque</span> porro quisquam</li>
                            <li><span>Totam</span> rem aperiam</li>
                        </ul>
                        <div style="height: 20px; clear: both;"></div> <a class="btn-price" href="#"> choose plan </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
