<div class="block service" style="padding-bottom: 0;">
    <div class="container">
        <h2 class="title text-center">Step By Step Process</h2>
        <div class="line center"></div>
        <p class="subtitle text-center" style="margin-bottom: 60px;">Duis autem vel eum iriure.</p>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 serv" style="padding: 0;"> <img src="img/services/01.jpg" alt="" />
                <div class="serv-desc">
                    <h5>Meeting sessions</h5>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 serv" style="padding: 0;"> <img src="img/services/01.jpg" alt="" />
                <div class="serv-desc">
                    <h5>Planning &amp; sketching</h5>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 serv" style="padding: 0;"> <img src="img/services/01.jpg" alt="" />
                <div class="serv-desc">
                    <h5>Development &amp; testing</h5>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 serv" style="padding: 0;"> <img src="img/services/01.jpg" alt="" />
                <div class="serv-desc">
                    <h5>Product launch</h5>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat.</p>
                </div>
            </div>
        </div>
    </div>
</div>
