<aside class="sidebar">
    <div id="recent-posts" class="widget posts_holder">
        <h5>Recent Posts</h5>
        <ul>
            <li> <a href="#">Tation ullamcorper suscipit </a> </li>
            <li> <a href="#">Ut wisi enim ad minim veniam</a> </li>
            <li> <a href="#">Lobortis nisl ut aliquip ex ea</a> </li>
            <li> <a href="#">Duis autem vel eum iriure</a> </li>
            <li> <a href="#">Dolor in hendrerit in vulputate</a> </li>
        </ul>
    </div>
    <div id="categories" class="widget posts_holder">
        <h5>Categories</h5>
        <ul>
            <li class="cat-item"> <a href="#">Lifestyle</a> </li>
            <li class="cat-item"> <a href="#">Science</a> </li>
            <li class="cat-item"> <a href="#">Nature</a> </li>
            <li class="cat-item"> <a href="#">Events</a> </li>
            <li class="cat-item"> <a href="#">Photography</a> </li>
        </ul>
    </div>
    <div id="tag_cloud" class="widget posts_holder">
        <h5>Tags</h5>
        <div class="tagcloud"> <a href="#">Bootstrap</a> <a href="#">Art</a> <a href="#">People</a> <a href="#">Website</a> <a href="#">Culture</a> <a href="#">Business</a> <a href="#">Nature</a> <a href="#">Science</a> <a href="#">Photography</a> <a href="#">Gadgets</a> <a href="#">Lifestyle</a> <a href="#">Events</a> <a href="#">Cinema</a> <a href="#">Music</a> </div>
    </div>
</aside>
