<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 style="margin-bottom: 22px;">We are nice to meet you</h2>
                <div class="line"></div>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div style="height: 8px; clear: both;"></div>
                <div class="progress_block">
                    <div class="progress_text">
                        <p class="title">WordPress Development</p>
                        <p class="number">60%</p>
                    </div>
                    <div class="progress">
                        <div data-level="60"></div>
                    </div>
                    <div class="progress_text">
                        <p class="title">Web design</p>
                        <p class="number">90%</p>
                    </div>
                    <div class="progress">
                        <div data-level="90"></div>
                    </div>
                    <div class="progress_text">
                        <p class="title">Programming</p>
                        <p class="number">50%</p>
                    </div>
                    <div class="progress">
                        <div data-level="50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
