<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0;">
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0;"> <img src="img/team/t01.jpg" alt="" /> </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0;"> <img src="img/team/t01.jpg" alt="" /> </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0;"> <img src="img/team/t01.jpg" alt="" /> </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0;"> <img src="img/team/t01.jpg" alt="" /> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="padding: 0;"> <img src="img/about/01.jpg" alt="" /> </div>
    </div>
</div>
