<div class="block testimonials">
    <div class="container">
        <h2 class="text-center">Clients feedback</h2>
        <div class="line center"></div>
        <div id="testimonial-carousel" class="owl-carousel">
            <div class="item">
                <p class="client-t"> <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet tellus elit. Ut eget mollis lacus. Donec
                    <br> molestie nibh eu nulla tempor porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    <br> ultrices condimentum pellentesque. <i class="fa fa-quote-right"></i> </p>
                <p class="client-name"> <a href="#">John Doe</a>, Company </p>
            </div>
            <div class="item">
                <p class="client-t"> <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet tellus elit. Ut eget mollis lacus. Donec
                    <br> molestie nibh eu nulla tempor porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    <br> ultrices condimentum pellentesque. <i class="fa fa-quote-right"></i> </p>
                <p class="client-name"> <a href="#">Sarah Doe</a>, Company </p>
            </div>
            <div class="item">
                <p class="client-t"> <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet tellus elit. Ut eget mollis lacus. Donec
                    <br> molestie nibh eu nulla tempor porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    <br> ultrices condimentum pellentesque. <i class="fa fa-quote-right"></i> </p>
                <p class="client-name"> <a href="#">Mike Doe</a>, Company </p>
            </div>
            <div class="item">
                <p class="client-t"> <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet tellus elit. Ut eget mollis lacus. Donec
                    <br> molestie nibh eu nulla tempor porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    <br> ultrices condimentum pellentesque. <i class="fa fa-quote-right"></i> </p>
                <p class="client-name"> <a href="#">Jessica Doe</a>, Company </p>
            </div>
        </div>
    </div>
</div>
