<div class="block">
  <div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 animated fadeInLeftBig">
    <h2>Who we are</h2>
    <div class="line"></div>
      <p class="subtitle" style="margin-bottom: 30px;"> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <p>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum typi non.</p>
      <div style="height: 30px; clear: both;"></div>
      <a class="btn btn-default" style="color: #fff;" href="about.html">read more</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <img src="img/about.png" alt="" class="animated fadeInUpBig" style="width: 350px;" />
    </div>
  </div>
  </div>
</div>
