<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>{{D1}}</h2>
                <div class="line"></div>
                <ul style="margin-bottom: 10px;">
                    <li><i class="fa fa-check" style="color: #2ecc71; margin-right: 8px;"></i>{{D1}}</li>
                    <li><i class="fa fa-check" style="color: #2ecc71; margin-right: 8px;"></i>{{D1}}</li>
                    <li><i class="fa fa-check" style="color: #2ecc71; margin-right: 8px;"></i>{{D1}}</li>
                    <li><i class="fa fa-check" style="color: #2ecc71; margin-right: 8px;"></i>{{D1}}</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h3>{{D1}}</h3>
                <p>{{D3}}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h3>{{D1}}</h3>
                <p>{{d3}}</p>
            </div>
        </div>
    </div>
</div>
